In [2]:
import numpy as np
import pandas as pd
import boto3
import s3fs
from datetime import timedelta,datetime,date
import os 
import matplotlib.pyplot as plt
%matplotlib inline
import sqlite3
import psycopg2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
connection = psycopg2.connect(host="88.198.110.221", port = 54321, database="gamooga", 
                              user="caratlane9238", password="W5eB1bustiYo")

In [9]:
julrep = pd.read_csv('prosjulyrepeat2024.csv',parse_dates=['Date'],low_memory = False)
julnew = pd.read_csv('prosjulynew2024.csv',parse_dates=['Date'],low_memory = False)
jul = pd.concat([julrep,julnew],ignore_index=True)
jul.head()

,email,mobile,pincode,city,tag,comments,intent,who,Date
0,preeti.thakur@yahoo.co.in,8860134035,122001,Delhi NCR,1.Occasion,Birthday x Earrings,2.medium,Existing,2024-07-01
1,chirp1997@gmail.com,9790796156,600094,Chennai,1.Occasion,Spouse Birthday x Rings,2.medium,Existing,2024-07-01
2,divyaverma.aol@gmail.com,9873878277,122001,Delhi NCR,1.Occasion,Spouse Birthday x Earrings,2.medium,Existing,2024-07-01
3,ruma.roysarkar76@gmail.com,9903935290,700060,Kolkata,3.Order60,Earrings,3.low,Existing,2024-07-01
4,kanchan.chak@gmail.com,9560152149,500032,Hyderabad,1.Occasion,Birthday x Chains,2.medium,Existing,2024-07-01

In [12]:
jul = jul[['email','mobile','who']]
jul.shape

(8430942, 3)

In [13]:
jul.to_csv('jul.csv',index=False)

In [3]:
k = pd.read_sql("""

select date(dt) as dt, vis, shortlisting_score,shortlisting_intent, gifting_score,gifting_intent,  trial_score,trial_intent,
delivery_score, delivery_intent campaign_score,campaign_intent, call_score, call_intent,
lead_score,lead_intent, buying_score,buying_intent, repeatvisit_score,repeatvisit_intent, repeatsku_score,repeatsku_intent, intent,score
from gmg_92ca38ca.ds_data_11097 limit 10000

""",con = connection)

C:\Users\CL2756\AppData\Local\Temp\ipykernel_5680\2917686163.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  k = pd.read_sql("""

In [4]:
k.to_csv('junedata.csv',index = False)